/* @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  /* border:1px solid  green; */
}

body {
  font-family: Inter;
  font-style: normal;
}

.App{
  max-width: 1500px;
  margin: 0 auto;
}

/* Navigation menu Styles */
nav{
  margin-top: 2rem;
}
/* Desktop Navbar */
.Desktop-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* display: none; */
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: inline-flex;
  gap: 45px;
}

li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-family: Inter;
  color: var(--Dark, #191720);
}

ul li a img{
  margin-left: 3px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn1,
.btn2 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn1 {
  color: var(--Dark, #191720);
  background-color: white;
  text-align: right;
}

.btn2 {
  color: white;
  width: 115px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #e94339;
}

/* Mobile Navbar */

.Mobile-navigation {
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#mobile-menu-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  border: none;
  background: none;
}

#mobile-menu {
  width: auto;
  background-color: gold;
  box-shadow: 5px 5px 20px 1px gray;
  color: black;
  margin: 2rem auto;
  text-align: center;
}

#mobile-menu ul {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.mobile-nav-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* END OF NAVIGATION SECTION  */


/* HEREO SECTION */
.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 110px;
  box-sizing: border-box;
}

.Hero-left {
  background-color: white;
  width: 585px;
  height: 405px;
}

.Hero-left > h1 {
  text-align: center;
  color: var(--Dark, #191720);
  font-family: Inter;
  font-size: 61px;
  font-weight: 700;
  line-height: 65px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.Hero-left > p {
  text-align: center;
  margin-right: 57px;
  font-weight: 400;
  line-height: 30px;
  width: 528px;
}

.input-container {
  position: relative;
  display: inline-block;
}

.custom-input {
  border-radius: 56px;
  background: #f6f6f6;
  border: none;
  width: 448px;
  height: 64px;
  flex-shrink: 0;
  color: #afafaf;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07px;
  padding-left: 20px;
  padding-right: 30px;
}

.order {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 15px 20px;
  margin: 4px 4px;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  border-radius: 56px;
  border: none;
  color: white;
  background: #ff5331;
  cursor: pointer;
}

.stores {
  margin-top: 35px;
  display: inline-flex;
  gap: 33px;
}

.Hero-right {
  box-sizing: border-box;
  width: 500px;
  height: 478px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #f2ebda;
}

.Hero-right img {
  margin: 80px 35px 0px 35px;
  width: 450px;
}

/* END OF HERO SECTION */

/* FOOD SECTION */

.main-heading {
  margin: 200px 160px 30px 160px;
  color: #191720;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  /* letter-spacing: -0.46px; */
}

.main-paragraph {
  font-size: 2rem;
  font-weight: 400px;
  line-height: 30px;
  text-align: center;
}

.orange {
  color: #ff5331;
}

.green {
  color: #009b00;
}

.food-line-1,
.food-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  gap: 32px;
  margin-bottom: 3rem ;

}

.food-menu-1,
.food-menu-2{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  box-sizing: border-box;
  gap: 20px;
}

.food-container {
  box-sizing: border-box;
  background: #fafafa;
  width: 150px;
  height: 210px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.food-container > h4 {
  position: relative;
  padding: 0px 18px;
  font-size: 1.3rem;
}

.food-circle {
  background-color: white;
  border-radius: 50%;
  padding: 20px;
}




.free-delivery {
  border-radius: 28px;
  background: #fafafa;
  width: 568px;
  height: 210px;
  position: relative;
}

.free-delivery > h4 {
  width: 437px;
  font-size: 26px;
  font-weight: 500;
  margin: 33px;
}

.free-delivery > .illustration {
  margin: 0px 28px 0px 348px;
  position: absolute;
  bottom: 0px;
  width: 150px;
  right: -10px;
}


.lorem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 500px;
}

.lorem > p {
  font-size: 21px;
  font-weight: 400;
  width: 500;
}

.food-menu2 {
  box-sizing: border-box;
  display: flex;
  gap: 32px;
}



.ordering-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  
}

.ordering-section > h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
}

.ordering {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 125px;
}
.orders{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  width: 150px;
  background: #fafafa;
  text-align: center;
  padding: .5rem;
  /* height: 210px; */
}

.numbering {
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
  padding: 10px;
  /* background-color: #f6f4f4; */
  position: relative;
  top: -40px;
  right: 50px;
  z-index: -1;
  border-radius: 25px;
}

.option-rectangle {
  background-color: white;
  border-radius: 16px;
  padding: 18px 24px;
}


.third-section {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.feedback {
  text-align: center;
  width: 560px;
  /* border: solid; */
}

.feedback>h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}

.feedback>p {
  width: 532;
  font-size: 16px;
  font-weight: 400;
}

.comment {
  text-align: center;
  width: 540px;
  font-style: italic;
  /* border: solid; */
}

.comment>div>h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  font-style: normal;
}

.comment>div>p {
  color: #616161;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.14px;
  margin-top: 0%;
  margin-bottom: 25px;
}

.newsletter-container {
  background: #ffefec;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px 0 50px;
  gap: 160px;
  /* height: 250px; */
}

.subscribe > div {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.subscribe > div > h2 {
  color: #000;
  font-family: Poppins;
  font-weight: 600;
  font-size: 3rem;
}

.subscribe > div > p {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

.footer {
  background-color: #0e0c0c;
}

.footer-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 90px;
}

.footer-left>div {
  display: flex;
  gap: 30px;
}

.footer-store {
  width: 35%;
}

.footer-right {
  display: flex;
  align-items: flex-start;
  gap: 95px;
}

.quick-links {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  /* border: solid; */
}

.quick-links>h3 {
  justify-self: center;
  color: #fff;
}

.quick-links>ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
  gap: 30px;
  list-style: none;
  padding-left: 0px;
}

.quick-links>ul>li>a {
  color: #aaa7b1;
}

.footer-bottom {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #aaa7b1;
}


/* Media Queries */
@media (max-width: 800px) {

  .Desktop-navigation {
    display: none;
  }

  .Mobile-navigation {
    display: contents;
  }
}


@media (max-width: 800px) {
  /* .menu > ul {
    display: none; 
  }

  .action-buttons {
    display: none;
  }

  .Hamburger-Icon {
    display: block;
    outline: none;
  }

  .menu-btn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    border: none;
    background: none;
  }

  .hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;


}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);

}


.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  align-self: self-end;
  padding: 8px 0px;
  margin-top: 10px;
  white-space: 6px;
  font: bold;
  background-color: #FFF;
  width: auto;
  
} */
  /* class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md" */

  .Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    box-sizing: border-box;
  }

  .Hero-l>h1 {
    color: var(--Dark, #191720);
    font-family: Inter;
    font-size: 51px;
    font-weight: 700;
    line-height: 65px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .Hero-l>p {
    margin-right: 57px;
    font-weight: 400;
    line-height: 30px;
    width: 528px;
  }

  .main-line-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #000;
  }

  .main-line-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .food-menu {
    box-sizing: border-box;
    display: flex;
    gap: 32px;
    margin-left: 10px;
  }

  .how-to {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 125px;
  }

  .subscribe {
    display: block;
    padding: 0px 0px 0 0px;
  }

  .subscribe>div>h2 {
    flex-wrap: wrap;
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 0px;
  }

  .newsletter-container {
    padding: 0 0px 0 0px;
  }

  .footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer-right {
    display: none;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 1280px) {}